.cloud {
  width: 250px;

  &.porco {
    width: 200px;
  } 
  height: auto;
  position: absolute;
  transition: all 10s linear;
  z-index: 3;

  @media screen and (max-width: "900px") {
    width: 200px;
    height: auto;
    &.porco {
      width: 150px;
    } 

    
  }
  @media screen and (max-width: "750px") {
    width: 175px;
    height: auto;
    &.porco {
      width: 100px;
    } 
  }
  @media screen and (max-width: "600px") {
    width: 125px;
    height: auto;
  }
}

.moon,
.porco {
  z-index: 2;
}
