.home {
  scroll-behavior: smooth;
  overflow: auto;
}

.infos-section {
  background: linear-gradient(to bottom, #ff4bf4, #16acc7);
  overflow: hidden;
}

// .precepte-container:nth-child(even) {
//   transform: translateX(5%);
// }

// .precepte-container:nth-child(odd) {
//   transform: translateX(-5%);
// }

.button {
  pointer-events: auto;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 1rem 2em;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  // mix-blend-mode: screen;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 1em;
  border-radius: 0.3em;
  overflow: hidden;
  background: transparent;
  color: #fff;
  &:hover {
    background: border-box no-repeat url("../../assets/button-background.png");
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  &.many {
    .button {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.event-container {
  height: 30vw;
  width: 50.4vw;
  max-width: 35rem;
  max-height: 20rem;
  // background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .button2 {
    pointer-events: auto;
    cursor: pointer;
    border: 1px solid #fff;
    width: 0;
    height: 0;
    visibility: hidden;

    &.animate {
      animation: fadeIn 0.8s cubic-bezier(0, 0.75, 0.46, 1) forwards 0.5s;
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        height: 100%;
        width: 100%;
        visibility: visible;
      }
    }
    padding: 1rem 2em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    // mix-blend-mode: screen;
    font-weight: bold;
    letter-spacing: 0.05em;

    font-size: 1.5em;
    @media screen and (max-width: 768px) {
      font-size: 1.2em;
    }
    @media screen and (max-width: 520px) {
      font-size: 1em;
    }
    
    border-radius: 0.3em;
    overflow: hidden;
    background: border-box no-repeat url("../../assets/banner3.jpg");
    background-size: cover;
    background-position: center center;

    color: #fff;
    &:hover {
      background: border-box no-repeat url("../../assets/banner4.jpg");
      background-size: cover;
      background-position: center center;
    }
  }
}

.cloud {
  width: 250px;
  height: auto;
  @media screen and (max-width: "900px") {
    width: 200px;
    height: auto;
  }
  @media screen and (max-width: "750px") {
    width: 175px;
    height: auto;
  }
  @media screen and (max-width: "600px") {
    width: 125px;
    height: auto;
  }
}

.island {
  width: 20vw;
  @media screen and (max-width: "600px") {
    width: 25vw;
  }
  height: auto;
  z-index: 0;
}
