.footer { 
  color: white;
  margin-top: 6em;
}


.footer-container {
  display: flex;
  flex-flow: row wrap;
  height: min-content;
  align-items: center;
  justify-content: center;
  gap: 1em;

  .footer-item {
    margin-right: 4vw;

    .logo-cp {
        width: 100px;
        height: auto;
    }

    &.social-icons {
      img {
        width: auto;
        height: 2em;
      }
    }
  }
}

.footer::before,
.footer-container::after {
  content: "";
  display: block;
  width: 85%;
  height: 2px;
  background: #e6e6e6;
  margin: 1rem auto;
}



.footer-copyright {
    margin-bottom: 1rem;
    text-align: center;
}

